@import 'index';

.Tabs {
  &__TabItemsList {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

.Slider {
  position: absolute;
  background-color: $color-primary-gray;
  border-radius: $radius-sm;
  width: 11.5rem;
  height: 10rem;
}
