@import 'index';

.Project {
  background-color: $color-primary-darker;
  width: clamp(60%, 110rem, 100%);
  height: 25rem;
  margin: auto;
  display: flex;
  z-index: 100;
  border-radius: $radius-md;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;

  &__Img {
    height: 100%;
    position: relative;
    width: clamp(44.4rem, 12rem, 95%);
  }

  &__TextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: calc(100% - 44.4rem);
    padding: 0 2rem;
  }

  &__Btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
  }
}
