@import 'index';

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 5rem;

  &__Content {
    transform: translate(-180px, -50px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10vh;

    @include mobile {
      transform: translate(0,0);
    }
    // column-gap: 20vw;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
  }

  &__Titles {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: end;
    align-self: center;
    h2 {
      font-size: 6rem;
    }
    p {
      font-weight: bold;
      margin: 1rem 0;
      font-size: 3rem;
    }
  }

  &__SectionLinks,
  &__Links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    grid-column: 1/2;
  }

  &__Links {
    gap: 1.5rem;
  }
}
