@import 'index';

.TabItem {
  font-size: 1.6rem;
  color: $color-primary-white;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 1rem;
  width: 11.5rem;
  height: 8rem;
  border-radius: $radius-sm;
  font-weight: bold;
  border: none;

  cursor: none;
  &:hover {
    cursor: none;
  }
  ion-icon {
    color: rgba($color-primary-white, 0.65);
    font-size: 2rem;
    pointer-events: none;
  }
  p {
    margin: 0;
    color: rgba($color-primary-white, 0.7);
    font-size: 1.3rem;
    z-index: 100;
  }
}

.Active {
  color: $color-primary-white;
}
