@import 'index';

.Button {
  padding: 1rem 3rem;
  color: $color-primary-gray;
  background-color: $color-primary-white;
  border-radius: $radius-lg;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}
