@import 'index';

.AboutMe {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__Content {
    min-height: 60vh;
    width: clamp(80%, 60vw, 90%);
    background-color: $color-primary-darker;
    z-index: 100;
    border-radius: $radius-sm;
  }

  &__Tabs {
    width: 50%;
  }

  &__Skills,
  &__Experience,
  &__Education {
    background-color: $color-primary-gray;
    border-radius: $radius-sm;
  }

  &__Skills {
    padding: 1.5rem;
    &__Skill {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 0;
    }
  }
}

.green {
  background-color: $color-green;
}

.orange {
  background-color: $color-orange;
}

.yellow {
  background-color: $color-yellow;
}

.purple {
  background-color: $color-purple;
}
